<div class="card-product">
  <% @users.each do |user| %>
  <% if user.photo.attached? %>
  <%= link_to user_path(user), class: "card-link" do%>
    <%= cl_image_tag user.photo.key, height: 150, width: 150,  crop: :thumb, gravity: :face %>
      <div class="card-product-infos">
    <h2> <%= user.username  %> </h2>
    <p>Access to your account and your Games Library</p>
      <% end %>
      <% end %>
      <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "New User", new_user_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
